<!DOCTYPE html>
<html ng-app="SaenuriYoungModule">
  <head profile="http://www.w3.org/2005/10/profile">
    <title>새누리 청년 공동체 목장 모임 리포트</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width">
    <link rel="icon"  type="image/png"  href="soar.png">
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="common.js"></script>
    <script src="login.js"></script>
    <script src="charts.js"></script>
    <script src="groups.js"></script>
    <script src="group_analysis.js"></script>
    <script src="member.js"></script>
    <script src="report.js"></script>
    <script src="summary.js"></script>
    <script src="app.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="common.css">
    <script src="md-data-table.min.js"></script>
    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
    <script src="ngclipboard.min.js"></script>

    <link rel="stylesheet" href="md-data-table.min.css">

    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://apis.google.com/js/api.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>
  <body ng-controller="TopPageController as topCtrl" layout="column">
  <div ng-if="!topCtrl.isAuthServiceInitialized" layout="column">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    <span>로그인 모듈을 초기화하고 있습니다.</span>
  </div>
  <md-button class="md-raised md-primary" ng-if="!topCtrl.isSignedIn() && topCtrl.isAuthServiceInitialized" ng-click="topCtrl.handleAuthClick()">Sign In</md-button>

    <md-content ng-view flex layout="column"></md-content>
  </body>
</html>
