<div ng-if="addressBookCtrl.allGroupSheet">
  <table md-table>
    <thead md-head md-order="addressBookCtrl.groupsOrder">
      <tr>
        <th md-column md-order-by="name">목장 이름</th>
        <th md-column md-order-by="leader">목자</th>
        <th md-column>Report</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr ng-repeat="group in addressBookCtrl.allGroupSheet | orderBy: addressBookCtrl.groupsOrder">
        <td md-cell align="center">{{ group.name }}</td>
        <td md-cell align="center">{{ group.leader }}</td>
        <td md-cell align="center">
          <md-button class="md-raised md-primary" ng-if="group.reportSheetId"
                     ng-href="{{ addressBookCtrl.getReportLink(group) }}">
          목장 리포트
          </md-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div ng-if="!addressBookCtrl.allGroupSheet && addressBookCtrl.AuthService.isSignedIn">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>


