<md-toolbar class="md-toolbar-tools">
  <div layout="row" flex class="fill-height" layout-align="space-between center">
    <div>
      <md-button class="md-icon-button" href="/#/">
        <md-icon class="material-icons" aria-label="Back">arrow_back</md-icon>
      </md-button>
      <span>{{ submitReportCtrl.name }} 목장 리포트</span>
    </div>
    <div>
      <md-button class="md-icon-button" ng-click="submitReportCtrl.submitReport()">
        <md-icon class="material-icons" aria-label="Save">save</md-icon>
      </md-button>
    </div>
  </div>
</md-toolbar>
<md-content>
<div ng-if="submitReportCtrl.memberData && submitReportCtrl.storedReport" flex>
  <md-button ng-show="submitReportCtrl.selectedTabIndex == 2" class="md-fab md-fab-bottom-right" aria-label="Share prayer"
             ng-click="submitReportCtrl.sharePrayer()" style="position: fixed !important;">
    <md-icon ngclass="material-icons">share</md-icon>
  </md-button>
  <md-tabs md-dynamic-height class="md-primary"
           md-selected="submitReportCtrl.selectedTabIndex">
    <md-tab id="report">
      <md-tab-label>종합</md-tab-label>
      <md-tab-body>
        <md-card>
          <md-card-title>
             <md-card-title-text>
               <div layout="row">
                 <a ng-href="https://docs.google.com/spreadsheets/d/{{submitReportCtrl.reportSpreadSheetId}}"><img src="logo_sheets_32px.png" width="32px" height="32px"></a>
                 <span class="md-headline">{{ submitReportCtrl.name }} 목장 리포트 : {{ submitReportCtrl.reportTitle() }}</span>
               </div>
             </md-card-title-text>
           </md-card-title>
        </md-card>
         <md-card ng-repeat="member in submitReportCtrl.memberData">
           <md-card-title>
             <md-card-title-text>
               <span class="md-headline">{{ member.name }}</span>
             </md-card-title-text>
           </md-card-title>
           <md-card-content>
             <md-list>
               <md-list-item>
                 <p>출석</p>
                 <md-button class="md-icon-button" ng-repeat="status in submitReportCtrl.memberStatus" aria-label="attendance status">
                   <md-icon ng-if="status.materialIconClass" class="material-icons" ng-click="member.status = $index" aria-label="Send Email" ng-style="member.statusIconColor($index)">{{status.materialIconClass}}</md-icon>
                   <md-icon ng-if="status.svgSrc" md-svg-src="{{status.svgSrc}}" ng-click="member.status = $index" aria-label="Send Email" ng-style="member.statusIconColor($index)"></md-icon>
                 </md-button>
               </md-list-item>
               <md-list-item>
                 <md-input-container style="width: 100%">
                   <label>기도 제목</label>
                   <textarea elastic ng-model="member.prayer" layout-fill flex></textarea>
                 </md-input-container>
               </md-list-item>
               <md-list-item>
                 <md-input-container style="width: 100%">
                   <label>메모 (결석 사유 및 특별한 일 등등...)</label>
                     <textarea elastic ng-model="member.note" layout-fill flex></textarea>
                 </md-input-container>
               </md-list-item>
           </md-card-content>
         </md-card>
         <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">목장 전체 노트</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
<div layout="column" layout-fill>
            <md-input-container flex>
              <label>목장 노트</label>
              <textarea elastic ng-model="submitReportCtrl.groupNote" rows="3">{{submitReportCtrl.groupNote}}</textarea>
            </md-input-container>
</div>
           </md-card-content>
         </md-card>
      </md-tab-body>
    </md-tab>
    <md-tab id="attendance">
      <md-tab-label>출석</md-tab-label>
      <md-tab-body>
      <md-card><md-card-content>
      <md-subheader class="md-primary">출석</md-subheader>
        <md-list>
          <md-list-item ng-repeat="member in submitReportCtrl.memberData">
            <p>{{member.name}}</p>
            <md-button class="md-icon-button" ng-repeat="status in submitReportCtrl.memberStatus" aria-label="attendance status">
              <md-icon ng-if="status.materialIconClass" class="material-icons" ng-click="member.status = $index" aria-label="Send Email" ng-style="member.statusIconColor($index)">{{status.materialIconClass}}</md-icon>
              <md-icon ng-if="status.svgSrc" md-svg-src="{{status.svgSrc}}" ng-click="member.status = $index" aria-label="Send Email" ng-style="member.statusIconColor($index)"></md-icon>
            </md-button>
          </md-list-item>
        </md-list>
</md-card-content></md-card>
      </md-tab-body>
   </md-tab>
    <md-tab id="prayer">
      <md-tab-label>기도 제목</md-tab-label>
      <md-tab-body>
<md-card><md-card-content>
      <md-subheader class="md-primary">기도 제목</md-subheader>
        <table md-table>
          <thead md-head md-order="submitReportCtrl.groupsOrder">
            <tr md-row>
              <th md-column md-order-by="name">이름</th>
              <th md-column>기도 제목</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="member in submitReportCtrl.memberData | orderBy: submitReportCtrl.groupsOrder">
              <td md-cell align="center">{{ member.name }}</td>
            <td md-cell align="left" style="padding: 0 5px 0 0">
              <textarea elastic ng-model="member.prayer" layout-fill flex></textarea>
            </td>
            </tr>
          </tbody>
        </table>
        </md-card-content></md-card>
      </md-tab-body>
    </md-tab>
    <md-tab id="memo">
      <md-tab-label>메모</md-tab-label>
      <md-tab-body>
      <md-card><md-card-content>
      <md-subheader class="md-primary">메모 (결석 사유 및 특별한 일 등등...)</md-subheader>
        <table md-table>
          <thead md-head md-order="submitReportCtrl.groupsOrder">
            <tr>
              <th md-column md-order-by="name">이름</th>
              <th md-column>메모</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr ng-repeat="member in submitReportCtrl.memberData | orderBy: submitReportCtrl.groupsOrder">
              <td md-cell align="center">{{ member.name }}</td>
            <td md-cell align="left" style="padding: 0 5px 0 0">
              <textarea elastic ng-model="member.note" layout-fill flex></textarea>
            </td>
            </tr>
          </tbody>
        </table>
        </md-card-content></md-card>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</div>
<div ng-if="!submitReportCtrl.memberData || !submitReportCtrl.storedReport">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
</md-content>

