<div layout="row" layout-align="start center">
  <h2 class="md-headline">{{ submitReportCtrl.name }} 목장 리포트 : {{ submitReportCtrl.reportTitle() }}</h2>
  <a ng-href="https://docs.google.com/spreadsheets/d/{{submitReportCtrl.reportSpreadSheetId}}"><img src="logo_sheets_32px.png" width="24px" height="24px"></a>
</div>
<div ng-if="submitReportCtrl.memberData && submitReportCtrl.storedReport">
  <md-tabs md-dynamic-height>
    <md-tab id="report">
      <md-tab-label>리포트 작성</md-tab-label>
      <md-tab-body>
        <form ng-submit="submitReportCtrl.submitReport()" >
          <div layout="column" layout-fill>
          <table md-table>
            <thead md-head md-order="submitReportCtrl.groupsOrder">
              <tr>
                <th md-column md-order-by="name">이름</th>
                <th md-column md-order-by="status">출석</th>
                <th md-column>기도제목</th>
                <th md-column>특이사항</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr ng-repeat="member in submitReportCtrl.memberData | orderBy: submitReportCtrl.groupsOrder">
                <td md-cell align="center">{{ member.name }}</td>
                <td md-cell align="center" style="padding: 0 5px 0 0">
                  <md-input-container>
                    <label>출석 상황</label>
                    <md-select ng-model="member.status">
                    <md-option ng-repeat="status in submitReportCtrl.memberStatus" ng-value="$index">
                      {{ status }}
                    </md-option>
                  </md-select>
                </md-input-container>
              </td>
              <td md-cell align="left" style="padding: 0 5px 0 0">
                <textarea elastic ng-model="member.prayer" layout-fill flex></textarea>
              </td>
              <td md-cell align="left" style="padding: 0 5px 0 0">
                <textarea elastic ng-model="member.note" layout-fill flex></textarea>
              </td>
              </tr>
            </tbody>
          </table>
          <md-input-container>
            <label>목장 노트</label>
            <textarea elastic ng-model="submitReportCtrl.groupNote" rows="3">{{submitReportCtrl.groupNote}}</textarea>
          </md-input-container>
            <md-button class="md-raised md-primary" type="submit" value="Submit">
            저장 
            </md-button>
          </div>
        </form>
      </md-tab-body>
    </md-tab>
    <md-tab id="prayer">
      <md-tab-label>기도제목 복사</md-tab-label>
      <md-tab-body>
        <div ng-repeat="member in submitReportCtrl.memberData">
          <span ng-if="member.prayer" style="word-wrap: break-word;">
            {{ member.name }} : {{ member.prayer }} <br />
          </span>
        </div>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</div>
<div ng-if="!submitReportCtrl.memberData || !submitReportCtrl.storedReport">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

